<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <!-- 定义文件内容的输出格式 -->
    <property name="PATTERN" value="%-12(%d{yyyy-MM-dd HH:mm:ss.SSS}) |-%-5level [%thread] %c [%L] -| %msg%n"/>
    <property name="SEND_PATTERN" value="%msg%n"/>
    <property name="spring.application.name" value="eureka-server"/>
    <logger name="org.springframework" level="INFO"/>
    <!-- 控制台日志输出 -->
    <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>${PATTERN}</pattern>
            <charset>UTF-8</charset>
        </encoder>
    </appender>
    <appender name="isoaout" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>${logback.dir}/${spring.application.name}_out.log</file>
        <rollingPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedRollingPolicy">
            <fileNamePattern>${logback.dir}/${spring.application.name}_out-%d{yyyy-MM-dd}.%i.log</fileNamePattern>
            <maxFileSize>10MB</maxFileSize>
            <maxHistory>30</maxHistory>
            <totalSizeCap>2GB</totalSizeCap>
        </rollingPolicy>
        <encoder>
            <pattern>${PATTERN}</pattern>
            <charset>UTF-8</charset>
        </encoder>
    </appender>
    <appender name="isoaapp" class="ch.qos.logback.core.FileAppender">
        <!-- 文件路径 -->
        <file>${logback.dir}/${spring.application.name}_app.log</file>
        <!-- 过滤掉其它级别的日志信息 -->
        <filter class="ch.qos.logback.classic.filter.LevelFilter">
            <level>INFO</level>
            <onMatch>ACCEPT</onMatch>
            <onMismatch>DENY</onMismatch>
        </filter>
        <encoder>
            <pattern>${SEND_PATTERN}</pattern>
            <charset>UTF-8</charset>
        </encoder>
    </appender>
    <root level="INFO">
        <appender-ref ref="CONSOLE"/>
        <appender-ref ref="isoaout"/>
        <appender-ref ref="isoaapp"/>
    </root>
</configuration>